/* GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
h2 {
  color: #0c2454;
}

/* COMPONENTS */
.ms_primary {
  color:white
}
.ms_primary p {
  color: #b7ccff;
}
.ms_blue {
  color: #036cff;
}

/* HEADER */
nav {
  margin: 15px 0;
}
nav img {
  width: 200px;
}
nav ul a {
  color: #46587d;
  font-weight: 500;
}
/* menu bar */
.fa-angle-down {
  padding: 2px
}
.ms_menu {
  text-align: right;
  line-height: 45px;
}
.ms_padding_menu{
  margin-right: 130px;
}
.ms_menu .ms_sign_up {
  border: 1px solid #1f7bff;
  padding: 5px 15px;
  color: #1f7bff;
  border-radius: 5px;
}
.ms_menu .ms_sign_up:hover {
  background-color: #1f7bff;
  color: white;
}
.ms_hamburger {
  line-height: 45px;
  font-size: 20px;
  text-align: right;
}
/* fine menu bar */

/* jumbotron */
.ms_jumbo {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 25px 0;
}
.ms_jumbo_text h1 {
  font-size: 4.5em;
}
.ms_jumbo_text p {
  font-size: 1.5em;
}
/* inizio jumbo form */
form {
  padding: 0 20px;
}
form .ms_form_button {
  background-color: #2586fd;
  padding: 7px 0;
  font-size: 1.1em;
}
.ms_form p {
  margin-top: 10px;
}
.ms_form {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
}
.ms_google_button {
  padding: 7px 0;
  font-size: 1.1em;
}
.ms_google_icon {
  width: 20px;
  float: left;
  margin-left: 5px;
}
/* fine jumbo form */
/* fine jumbotron */

/* MAIN */

/* section partner */
.ms_partner {
  background-color: #f3f5f9;
  padding: 25px 0;
}
.ms_partner h5 {
  color: #8892a9;
  text-transform: uppercase;
  text-align: center;
}
