/* GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
h2 {
  color: #0c2454;
}

/* COMPONENTS */
.ms_primary {
  color:white
}
.ms_primary p {
  color: #b7ccff;
}
.ms_blue {
  color: #036cff;
}
.ms_padding_top {
  padding: 30px 0;
}
.ms_margin_top {
  margin-top: 25px;
}
.ms_margin_bottom {
  margin-bottom: 25px;
}
/* HEADER */
nav {
  margin: 15px 0;
}
nav img {
  width: 200px;
}
nav ul a {
  color: #46587d;
  font-weight: 500;
}
/* menu bar */
.fa-angle-down {
  padding: 2px
}
.ms_menu {
  text-align: right;
  line-height: 45px;
}
.ms_padding_menu{
  margin-right: 130px;
}
.ms_menu .ms_sign_up {
  border: 1px solid #1f7bff;
  padding: 5px 15px;
  color: #1f7bff;
  border-radius: 5px;
}
.ms_menu .ms_sign_up:hover {
  background-color: #1f7bff;
  color: white;
}
.ms_hamburger {
  line-height: 45px;
  font-size: 20px;
  text-align: right;
}
/* fine menu bar */

/* jumbotron */
.ms_jumbo {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 25px 0;
}
.ms_jumbo_text h1 {
  font-size: 4.5em;
}
.ms_jumbo_text p {
  font-size: 1.5em;
}
/* inizio jumbo form */
form {
  padding: 0 20px;
}
form .ms_form_button {
  background-color: #2586fd;
  padding: 7px 0;
  font-size: 1.1em;
}
.ms_form p {
  margin-top: 10px;
}
.ms_form {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
}
.ms_google_button {
  padding: 7px 0;
  font-size: 1.1em;
}
.ms_google_icon {
  width: 20px;
  float: left;
  margin-left: 5px;
}
/* fine jumbo form */
/* fine jumbotron */

/* MAIN */
/* section partner */
.ms_partner {
  background-color: #f3f5f9;
  padding: 25px 0;
}
.ms_partner h5 {
  color: #8892a9;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
}
.ms_partner ul {
  text-align: center;
}
.ms_partner ul li {
  width: 16%;
  vertical-align: middle;
}
.ms_partner li img {
  width: 100%;
}
a.ms_sectiongray {
  font-weight: bold;
  color: #207cfe;
}

/* section deploy */
.ms_deploy {
  padding: 25px 30px;
}
.ms_deploy .ms_row_padding{
  padding: 30px 90px;
}
.ms_deploy .text-center p {
  color: #8892a9;
  font-size: 1.3em;
  font-weight: bold;
}
.ms_deploy ul {
  border-left: 1px solid #8892a9;
  padding: 5px;
}
.ms_deploy ul li {
  color: #8892a9;
  padding: 5px 0;
  font-size: 1.2em;
}
.ms_deploy_box img {
  width: 12%;
  margin-bottom: 15px;
}
.ms_deploy_box h5 {
  color: #0c2454;
}
.ms_deploy_box p {
 color: #8892a9;
}

/* section designed */
.ms_carousel {
  background-color: #f3f5f9;
  padding: 25px 0;
}
.ms_carousel p {
  color: #8892a9;
  font-size: 1.2em;
  padding-top: 15px;
}
.ms_designed_box img {
  width: 50%;
  margin: 0 auto;
  padding: 45px 0;
  display: inline-block;
}
.ms_designed_box .fas {
  font-size: 40px;
  padding: 0px 10px;
  color: #46587d;
}
p.ms_carousel_p_image {
  color: #46587d;
  padding-top: 0;
  padding-bottom: 15px;
}
.fas.fa-circle {
  color: #207cfe;
}
.far.fa-circle {
  color: #207cfe;
}

/* section feature */
.ms_features {
  padding: 25px 0;
}

/* section service */
.ms_service {
  background-color: #0040bd;
}
.ms_service ul {
  border-bottom: 1px solid white;
}
.ms_service .ms_city_li {
  padding-left: 60px;
}
.ms_service ul li:first-child {
  text-transform: uppercase;
}
.ms_service ul li a {
  color: #01d7d2;
}
.ms_service ul .ms_a {
  float: right;
}

/* section development */
.ms_development {
  background-color: #f3f5f9;
  padding: 25px 0;
}
.ms_development .ms_designed_box {
  padding: 30px 0;
}
.ms_rockerbox {
  background-color: white;
  width: 43%;
  margin: 0 auto;
  display: inline-block;
  padding: 50px 0;
  vertical-align: middle;
}
.ms_rockerbox img {
  padding-bottom: 25px;
  padding-top: 0;
}
.ms_rockerbox p {
  color: #8892a9;
}

/* FOOTER */
footer h2, h5 {
  color: white;
  font-weight: bold;
}
.ms_footer_top {
  background-color: #0040bd;
}
.btn-default {
  color: #207cfe;
  font-weight: bold;
}

.ms_footer_bottom {
  background-color: #031c4e;
}
.ms_footer_bottom img {
  width: 60px;
  margin-bottom: 10px;
}
.ms_footer_bottom p {
  margin: 0;
  color: #8892a9;
}
.ms_footer_bottom li {
  color: #8892a9;
  margin-bottom: 10px;
}
.ms_footer_bottom li i {
  margin-top: 10px;
  font-size: 20px;
}
.ms_footer_bottom li a {
  color: #8892a9;
  font-weight: bold;
}

/* MEDIA QUERY */
@media all and (max-width: 991px) {
  .ms_partner ul li {
    width: 49%;
    padding: 0 13px;
  }
  .ms_deploy_box {
    margin-top: 25px;
  }
  .ms_deploy .ms_row_padding {
    padding: 0;
  }
  .ms_designed_box img {
    width: 75%;
  }
  .ms_designed_box .fas {
    display: none;
  }
  .ms_rockerbox {
    width: 70%;
  }
}
